[tools]
cargo-binstall = "1.17.4"
fd = "10.3.0"
glab = "1.82.0"
go = "1.26.0"
hcloud = "1.61.0"
hk = "1.36.0"
node = "25.6.1"
pkl = "0.30.2"
python = "3.14.3"
pre-commit = "4.5.1"
prek = "0.3.1"
rclone = "1.73.0"
rust = "1.93.1"
slsa-verifier = "2.7.1"
steampipe = "2.3.5"
terraform-docs = "0.21.0"
tflint = "0.61.0"
ttyd = "1.7.7" # Dependency for vhs
usage = "2.17.0"
uv = "0.10.3"
vhs = "0.10.0"

###################################
# Python Packages - Managed by uv #
###################################
pipx = "latest"
"pipx:ansible" = { version = "13.3.0", uvx_args = "--with-executables-from ansible-core,ansible-lint" }
"pipx:jiratui" = "1.6.2"
"pipx:gnome-extensions-cli" = { version = "0.10.8", uvx_args = "--with pycairo,PyGObject" }
"pipx:gruyere" = "0.1.0"
"pipx:isd-tui" = "0.6.1"
"pipx:pgcli" = "4.4.0"
"pipx:readmeai" = "0.6.3"
"pipx:spiel" = "0.5.1"
"pipx:tldr" = "3.4.4"
"pipx:tofuref" = { version = "1.7.0" }
"pipx:wtfis" = "0.14.0"

##################
# Cargo Packages #
##################
"cargo:ag" = "0.19.5"
"cargo:gitnr" = "0.2.2"
"cargo:lstr" = "0.2.1"
"cargo:mergiraf" = "0.16.3"
"cargo:onefetch" = "2.26.1"
"cargo:so" = "0.4.10"
"cargo:soptikha2/desed" = "tag:v1.2.2"
"cargo:zeitfetch" = "0.1.16"

###############
# Go Packages #
###############
"go:github.com/walles/moor/v2/cmd/moor" = "2.10.4"

################
# NPM Packages #
################
"npm:gitlab-ci-local" = "4.65.1"

#################
# HTTP Packages #
#################
"github:alesbrelih/gitlab-ci-ls" = "1.2.5"
"github:aws-cloudformation/rain" = "1.24.2"
"github:blacknon/hwatch" = "0.3.19"
"github:bluetuith-org/bluetuith" = "0.2.6"
"github:doy/rbw" = "1.15.0"
"github:ekzhang/bore" = "0.6.0"
"github:eugene-babichenko/fixit" = "0.11.0"
"github:fioncat/otree" = "0.6.4"
"github:fish-shell/fish-shell" = "4.5.0"
"github:hupe1980/gotoaws" = "0.25.1"
"github:jacek-kurlit/pik" = "0.28.1"
"github:jbreckmckye/daylight" = "1.3.0"
"github:joschi/dive" = "0.14.0"
"github:unhappychoice/gittype" = "0.9.0"
"github:ynqa/sig" = "0.2.1"
"github:YS-L/flamelens" = "0.3.1"
"github:clawscli/claws" = "0.15.0"
"github:grafana/jsonnet-debugger" = "0.2.0"
"github:grafana/jsonnet-language-server" = "0.17.0"

[settings]
pipx_uvx = true
pin = true
experimental = true

# We need to compile Python due to a Crypto error I currently cannot find. This might not be true anymore for the x64 system, so disabling.
# [settings.python]
# compile = true
