[tools]
amazon-ecr-credential-helper = "0.10.1"
fd = "10.3.0"
glab = "1.74.0"
go = "1.25.5"
hcloud = "1.54.0"
hk = "1.26.0"
node = "25.2.1"
pkl = "0.30.1"
python = "3.14.1"
pre-commit = "4.5.0"
rclone = "1.71.1"
rust = "1.91.1"
slsa-verifier = "2.7.1"
terraform-docs = "0.20.0"
tflint = "0.60.0"
usage = "2.8.0"

###################################
# Python Packages - Managed by uv #
###################################
pipx = "latest"
"pipx:ansible" = { version = "13.0.0", uvx_args = "--with-executables-from ansible-core,ansible-lint" }
"pipx:jiratui" = "1.6.2"
"pipx:gnome-extensions-cli" = { version = "0.10.8", uvx_args = "--with pycairo,PyGObject" }
"pipx:git-remote-codecommit" = "1.17" # Needed for work KeePass
"pipx:isd-tui" = "0.6.1"
"pipx:pgcli" = "4.3.0"
"pipx:readmeai" = "0.6.3"
"pipx:spiel" = "0.5.1"
"pipx:tldr" = "3.4.3"
"pipx:tofuref" = { version = "1.6.0", uvx_args = "--python 3.13" } # No support for Python 3.14 yet.
"pipx:wtfis" = "0.13.0"

##################
# Cargo Packages #
##################
"cargo:ag" = "0.19.5"
"cargo:gitnr" = "0.2.2"
"cargo:lstr" = "0.2.1"
"cargo:mergiraf" = "0.16.1"
"cargo:onefetch" = "2.25.0"
"cargo:rbw" = "1.14.1"
"cargo:so" = "0.4.10"
"cargo:soptikha2/desed" = "tag:v1.2.2"
"cargo:zeitfetch" = "0.1.16"

###############
# Go Packages #
###############
"go:github.com/walles/moor/v2/cmd/moor" = "2.9.5"

################
# NPM Packages #
################
#"npm:gitlab-ci-local" = "latest" # Disable for now as it does not install correctly on first boot.

################
# UBI Packages #
################
"ubi:alesbrelih/gitlab-ci-ls" = "1.2.2"
"ubi:aws-cloudformation/rain" = "1.24.1"
"ubi:blacknon/hwatch" = "0.3.19"
"ubi:bluetuith-org/bluetuith" = "0.2.6"
"ubi:eugene-babichenko/fixit" = "0.11.0"
"ubi:fioncat/otree" = "0.6.3"
"ubi:hupe1980/gotoaws" = "0.25.1"
"ubi:jacek-kurlit/pik" = "0.27.0"
"ubi:joschi/dive" = "0.14.0"
"ubi:YS-L/flamelens" = "0.3.1"

# New backend trials
"github:ekzhang/bore" = "0.6.0"
"github:fish-shell/fish-shell" = "4.2.1"
"github:jbreckmckye/daylight" = "1.3.0"
"github:savannahostrowski/gruyere" = "1.1.5"
"github:unhappychoice/gittype" = "0.8.0"
"npm:branchlet" = "0.1.3"

[settings]
pipx_uvx = true
pin = true
experimental = true

[settings.python]
compile = true
