#!/usr/bin/env -S bash -i

# ansible/setup.yaml hash: {{ include "ansible/setup.yaml" | sha256sum }}

if command -v ansible-playbook &> /dev/null; then
    if [[ -v ANSIBLE_PASSWORD ]]; then
        echo "ANSIBLE_PASSWORD set, becoming with value"
        ansible-playbook -v {{ joinPath .chezmoi.sourceDir "ansible/setup.yaml" | quote }} -e ansible_password='{{ "{{" }} lookup("env", "ANSIBLE_PASSWORD") {{ "}}" }}'
    else
        echo "ANSIBLE_PASSWORD set, asking for password. NOTE: set ANSIBLE_PASSWORD to skip this."
        ansible-playbook -v {{ joinPath .chezmoi.sourceDir "ansible/setup.yaml" | quote }} --ask-become-pass
    fi
fi

