[merge]
command = "bash"
args = [
    "-c",
    "cp {{ "{{ .Target }}" }} {{ "{{ .Target }}" }}.base && code --new-window --wait --merge {{ "{{ .Destination }}" }} {{ "{{ .Target }}" }} {{ "{{ .Target }}" }}.base {{ "{{ .Source }}" }}",
]

# This need to detect if we are interactive or in a script.
{{ if lookPath "diffnav" }}
[diff]
pager = "diffnav"
{{ end }}

{{- $full_name := promptString "name" "Full Name" -}}
{{- $email := promptString "email" "email" -}}
{{- $email_work := promptString "email_work" "Work Email" -}}


[data]
	email = {{ $email | quote }}
	name = {{ $full_name | quote }}
	email_work = {{ $email_work | quote }}
