#!/usr/bin/env -S bash

# Credits to Logan Donley
# # https://github.com/logandonley/dotfiles/blob/3eecf08be23bd542a516f5bf8c4c2e8acbd0e8da/run_once_install_ansible.sh

echo ""
echo "==============================================================="
echo ""
echo "Installing Ansible"
echo ""
echo "==============================================================="
echo ""

echo "Initializing mise..."
eval "$(mise env -s bash)"

if [[ -v ANSIBLE_PASSWORD ]]; then
    echo "ANSIBLE_PASSWORD set, becoming with value"
    ansible-playbook -v {{ joinPath .chezmoi.sourceDir "ansible/setup.yaml" | quote }} -e ansible_become_pass='{{ "{{" }} lookup("env", "ANSIBLE_PASSWORD") {{ "}}" }}'
else
    echo "ANSIBLE_PASSWORD set, asking for password. NOTE: set ANSIBLE_PASSWORD to skip this."
    ansible-playbook -v {{ joinPath .chezmoi.sourceDir "ansible/setup.yaml" | quote }} --ask-become-pass
fi

