#!/bin/bash

echo ""
echo "==============================================================="
echo ""
echo "Reconfiguring Gnome Extensions due to change detected"
echo ""
echo "==============================================================="
echo ""

# dconf.ini hash: {{ include "installed-extensions.txt" | sha256sum }}

if command -v gext &> /dev/null; then
  gext install $(cat {{ joinPath .chezmoi.sourceDir "installed-extensions.txt" | quote }} | tr '\n' ' ')
fi
