#!/usr/bin/env bash

echo ""
echo "==============================================================="
echo ""
echo "Installing core dependencies with Ansible"
echo ""
echo "==============================================================="
echo ""

# ansible/tasks/install_core_packages.yaml hash: {{ include "ansible/tasks/install_core_packages.yaml" | sha256sum }}

sudo apt-get update

echo "Installing dependencies for building Python..."
sudo apt-get install -qq -y make build-essential libssl-dev zlib1g-dev \
  libbz2-dev libreadline-dev libsqlite3-dev wget curl llvm \
  libncurses-dev xz-utils tk-dev libxml2-dev libxmlsec1-dev libffi-dev liblzma-dev

echo "Installing Git as Mise needs that as dependency..."
sudo apt install git -y

echo "Installing Python with Mise to enable Ansible Run..."
mise install python
mise install uv
mise install pipx:ansible[uvx_args="--with-executables-from ansible-core,ansible-lint"]

echo "Initializing mise..."
eval "$(mise env -s bash)"

echo "Running Ansible Playbook for core packages..."

if [[ -v ANSIBLE_PASSWORD ]]; then
    echo "ANSIBLE_PASSWORD set, becoming with value"
    ansible-playbook -v {{ joinPath .chezmoi.sourceDir "ansible/setup.yaml" | quote }} --tags core-packages -e ansible_become_pass='{{ "{{" }} lookup("env", "ANSIBLE_PASSWORD") {{ "}}" }}'
else
    echo "ANSIBLE_PASSWORD set, asking for password. NOTE: set ANSIBLE_PASSWORD to skip this."
    ansible-playbook -v {{ joinPath .chezmoi.sourceDir "ansible/setup.yaml" | quote }} --tags core-packages --ask-become-pass
fi
